<form #f="ngForm" (ngSubmit)="submitItem(f)">
  <p> <label>Category </label>
      <select [(ngModel)]="selected_category" name="category" required>
          <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
      </select>
  </p>

  <p> <label>Object ID </label>
    <select [(ngModel)]="selected_id" name="id" required>
        <option *ngFor="let id of object_ids" [ngValue]="id">{{id}}</option>
    </select>
  </p>

  <p> <button type="submit" [disabled]="!f.valid">Search</button></p>
</form>


<!-- <div *ngFor="let film of films">
  <app-film-item [film]="film"></app-film-item>
</div> -->

<app-viewpanel [showResult] = "result"   [select_category] = "selected_category"></app-viewpanel>