<div *ngIf = "showResult !== undefined">
  Your last search: <br/>
   name:    {{ showResult.name}}
<div *ngIf = "showResult === 'undefined'"> Cannot not find the info </div>
   <div *ngIf = "select_category === 'people'">
      height:    {{ showResult.height}} <br/>
      mass: {{ showResult.mass }}

  </div>

 
 
    
  <div *ngIf = "select_category === 'planets'">
      surface water:    {{ showResult.surface_water}}
  </div>

  <div *ngIf = "select_category === 'films'">
      Producer:    {{ showResult.producer}}
  </div>
    
  <div *ngIf = "select_category === 'species'">
      Classification:    {{ showResult.classification}}
  </div>

  
  <div *ngIf = "select_category === 'starships'">
      Manufacturer:    {{ showResult.manufacturer}}
  </div>

</div>